SeniorServer/Service References/SeniorDBServiceRef/SeniorDBServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8889/SeniorDBServer.DBFunctions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SeniorDBServer" />
  <xs:import schemaLocation="http://localhost:8889/SeniorDBServer.DBFunctions.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddGameFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="gf" nillable="true" type="q1:GameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGameFrameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="T" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameFrameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGameFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="T" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGameFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveGameFrameResult" nillable="true" type="q2:GameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrameMinPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="min" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrameMinPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameFrameMinPlayersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrameMaxPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="max" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrameMaxPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameFrameMaxPlayersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrameMinStrategies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="min" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrameMinStrategiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameFrameMinStrategiesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrameMaxStrategies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="max" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrameMaxStrategiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameFrameMaxStrategiesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGameFrames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGameFramesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveAllGameFramesResult" nillable="true" type="q3:ArrayOfGameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="user" nillable="true" type="q4:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveUserResult" nillable="true" type="q5:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGamePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="player" nillable="true" type="q6:GamePlayerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGamePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGamePlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGamePlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGamePlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveGamePlayersResult" nillable="true" type="q7:ArrayOfGamePlayerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreivePlayerGames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreivePlayerGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RetreivePlayerGamesResult" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="game" nillable="true" type="q9:GameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveGameResult" nillable="true" type="q10:GameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveAllGamesResult" nillable="true" type="q11:ArrayOfGameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameNumofPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gid" type="xs:int" />
        <xs:element minOccurs="0" name="nop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameNumofPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameNumofPlayersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameByNumPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameByNumPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="GameByNumPlayerResult" nillable="true" type="q12:ArrayOfGameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGFStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="gfstrategy" nillable="true" type="q13:GFStrategyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGFStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGFStrategyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGFStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gfstrategyid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGFStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveGFStrategyResult" nillable="true" type="q14:GFStrategyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNPStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="npstrategy" nillable="true" type="q15:NPStrategyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNPStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNPStrategyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNPStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="npstrategyid" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNPStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveNPStrategyResult" nillable="true" type="q16:NPStrategyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNashPointProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="NP" nillable="true" type="q17:NashPointProfileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNashPointProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNashPointProfileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNashPointProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NPID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNashPointProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveNashPointProfileResult" nillable="true" type="q18:NashPointProfileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNPPayoff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="payoff" nillable="true" type="q19:NPPayoffModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNPPayoffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNPPayoffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNPPayoff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="payoffid" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNPPayoffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveNPPayoffResult" nillable="true" type="q20:NPPayoffModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>