SeniorServer/Service References/SeniorDBServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBFunctions" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SeniorDBServer" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBFunctions_AddGameFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGameFrame" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddGameFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGameFrameResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_DeleteGameFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameFrame" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_DeleteGameFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameFrameResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveGameFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveGameFrame" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveGameFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveGameFrameResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_UpdateGameFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameFrame" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_UpdateGameFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameFrameResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveAllGameFrames_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllGameFrames" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveAllGameFrames_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllGameFramesResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_GameByNumPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GameByNumPlayer" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_GameByNumPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameByNumPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveFreeGameFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveFreeGameFrame" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveFreeGameFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveFreeGameFrameResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveMinPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveMinPlayers" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveMinPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveMinPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveMaxPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveMaxPlayers" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveMaxPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveMaxPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveUser" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveUSerbyUN_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveUSerbyUN" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveUSerbyUN_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveUSerbyUNResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAdmin" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddGamePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGamePlayer" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddGamePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGamePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveGamePlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveGamePlayers" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveGamePlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveGamePlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreivePlayerGames_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreivePlayerGames" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreivePlayerGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreivePlayerGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveAllGamePlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllGamePlayers" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveAllGamePlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllGamePlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveAllGamePlayersByPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllGamePlayersByPlayer" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveAllGamePlayersByPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllGamePlayersByPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddGame_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGame" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGameResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_DeleteGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGame" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_DeleteGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveGame" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveAllGames_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllGames" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveAllGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_UpdateGameNumofPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameNumofPlayers" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_UpdateGameNumofPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameNumofPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddGFStrategy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGFStrategy" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddGFStrategy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGFStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveGFStrategy_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveGFStrategy" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveGFStrategy_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveGFStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddNPStrategy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNPStrategy" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddNPStrategy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNPStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveNPStrategy_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveNPStrategy" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveNPStrategy_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveNPStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddNashPointProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNashPointProfile" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddNashPointProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNashPointProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveNashPointProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveNashPointProfile" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveNashPointProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveNashPointProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddNPPayoff_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNPPayoff" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_AddNPPayoff_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNPPayoffResponse" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveNPPayoff_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveNPPayoff" />
  </wsdl:message>
  <wsdl:message name="IDBFunctions_RetreiveNPPayoff_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveNPPayoffResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBFunctions">
    <wsdl:operation name="AddGameFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/AddGameFrame" message="tns:IDBFunctions_AddGameFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/AddGameFrameResponse" message="tns:IDBFunctions_AddGameFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGameFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/DeleteGameFrame" message="tns:IDBFunctions_DeleteGameFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/DeleteGameFrameResponse" message="tns:IDBFunctions_DeleteGameFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveGameFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveGameFrame" message="tns:IDBFunctions_RetreiveGameFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveGameFrameResponse" message="tns:IDBFunctions_RetreiveGameFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGameFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/UpdateGameFrame" message="tns:IDBFunctions_UpdateGameFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/UpdateGameFrameResponse" message="tns:IDBFunctions_UpdateGameFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllGameFrames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveAllGameFrames" message="tns:IDBFunctions_RetreiveAllGameFrames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveAllGameFramesResponse" message="tns:IDBFunctions_RetreiveAllGameFrames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameByNumPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/GameByNumPlayer" message="tns:IDBFunctions_GameByNumPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/GameByNumPlayerResponse" message="tns:IDBFunctions_GameByNumPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveFreeGameFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveFreeGameFrame" message="tns:IDBFunctions_RetreiveFreeGameFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveFreeGameFrameResponse" message="tns:IDBFunctions_RetreiveFreeGameFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveMinPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveMinPlayers" message="tns:IDBFunctions_RetreiveMinPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveMinPlayersResponse" message="tns:IDBFunctions_RetreiveMinPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveMaxPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveMaxPlayers" message="tns:IDBFunctions_RetreiveMaxPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveMaxPlayersResponse" message="tns:IDBFunctions_RetreiveMaxPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/AddUser" message="tns:IDBFunctions_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/AddUserResponse" message="tns:IDBFunctions_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveUser" message="tns:IDBFunctions_RetreiveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveUserResponse" message="tns:IDBFunctions_RetreiveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveUSerbyUN">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveUSerbyUN" message="tns:IDBFunctions_RetreiveUSerbyUN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveUSerbyUNResponse" message="tns:IDBFunctions_RetreiveUSerbyUN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/UpdateUser" message="tns:IDBFunctions_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/UpdateUserResponse" message="tns:IDBFunctions_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/AddAdmin" message="tns:IDBFunctions_AddAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/AddAdminResponse" message="tns:IDBFunctions_AddAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGamePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/AddGamePlayer" message="tns:IDBFunctions_AddGamePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/AddGamePlayerResponse" message="tns:IDBFunctions_AddGamePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveGamePlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveGamePlayers" message="tns:IDBFunctions_RetreiveGamePlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveGamePlayersResponse" message="tns:IDBFunctions_RetreiveGamePlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreivePlayerGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreivePlayerGames" message="tns:IDBFunctions_RetreivePlayerGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreivePlayerGamesResponse" message="tns:IDBFunctions_RetreivePlayerGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllGamePlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveAllGamePlayers" message="tns:IDBFunctions_RetreiveAllGamePlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveAllGamePlayersResponse" message="tns:IDBFunctions_RetreiveAllGamePlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllGamePlayersByPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveAllGamePlayersByPlayer" message="tns:IDBFunctions_RetreiveAllGamePlayersByPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveAllGamePlayersByPlayerResponse" message="tns:IDBFunctions_RetreiveAllGamePlayersByPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/AddGame" message="tns:IDBFunctions_AddGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/AddGameResponse" message="tns:IDBFunctions_AddGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/DeleteGame" message="tns:IDBFunctions_DeleteGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/DeleteGameResponse" message="tns:IDBFunctions_DeleteGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveGame" message="tns:IDBFunctions_RetreiveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveGameResponse" message="tns:IDBFunctions_RetreiveGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveAllGames" message="tns:IDBFunctions_RetreiveAllGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveAllGamesResponse" message="tns:IDBFunctions_RetreiveAllGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGameNumofPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/UpdateGameNumofPlayers" message="tns:IDBFunctions_UpdateGameNumofPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/UpdateGameNumofPlayersResponse" message="tns:IDBFunctions_UpdateGameNumofPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGFStrategy">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/AddGFStrategy" message="tns:IDBFunctions_AddGFStrategy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/AddGFStrategyResponse" message="tns:IDBFunctions_AddGFStrategy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveGFStrategy">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveGFStrategy" message="tns:IDBFunctions_RetreiveGFStrategy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveGFStrategyResponse" message="tns:IDBFunctions_RetreiveGFStrategy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNPStrategy">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/AddNPStrategy" message="tns:IDBFunctions_AddNPStrategy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/AddNPStrategyResponse" message="tns:IDBFunctions_AddNPStrategy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveNPStrategy">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveNPStrategy" message="tns:IDBFunctions_RetreiveNPStrategy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveNPStrategyResponse" message="tns:IDBFunctions_RetreiveNPStrategy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNashPointProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/AddNashPointProfile" message="tns:IDBFunctions_AddNashPointProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/AddNashPointProfileResponse" message="tns:IDBFunctions_AddNashPointProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveNashPointProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveNashPointProfile" message="tns:IDBFunctions_RetreiveNashPointProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveNashPointProfileResponse" message="tns:IDBFunctions_RetreiveNashPointProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNPPayoff">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/AddNPPayoff" message="tns:IDBFunctions_AddNPPayoff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/AddNPPayoffResponse" message="tns:IDBFunctions_AddNPPayoff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveNPPayoff">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveNPPayoff" message="tns:IDBFunctions_RetreiveNPPayoff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBFunctions/RetreiveNPPayoffResponse" message="tns:IDBFunctions_RetreiveNPPayoff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBFunctions" type="tns:IDBFunctions">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGameFrame">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/AddGameFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGameFrame">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/DeleteGameFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveGameFrame">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveGameFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGameFrame">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/UpdateGameFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllGameFrames">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveAllGameFrames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameByNumPlayer">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/GameByNumPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveFreeGameFrame">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveFreeGameFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveMinPlayers">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveMinPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveMaxPlayers">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveMaxPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveUser">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveUSerbyUN">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveUSerbyUN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdmin">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/AddAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGamePlayer">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/AddGamePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveGamePlayers">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveGamePlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreivePlayerGames">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreivePlayerGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllGamePlayers">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveAllGamePlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllGamePlayersByPlayer">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveAllGamePlayersByPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/AddGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/DeleteGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveGame">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllGames">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGameNumofPlayers">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/UpdateGameNumofPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGFStrategy">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/AddGFStrategy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveGFStrategy">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveGFStrategy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNPStrategy">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/AddNPStrategy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveNPStrategy">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveNPStrategy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNashPointProfile">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/AddNashPointProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveNashPointProfile">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveNashPointProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNPPayoff">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/AddNPPayoff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveNPPayoff">
      <soap:operation soapAction="http://tempuri.org/IDBFunctions/RetreiveNPPayoff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBFunctions">
    <wsdl:port name="BasicHttpBinding_IDBFunctions" binding="tns:BasicHttpBinding_IDBFunctions">
      <soap:address location="http://localhost:8998/SeniorDBServer.DBFunctions.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>