SeniorServer/Service References/SeniorDBServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SeniorDBServer" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddGameFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="gf" nillable="true" type="q1:GameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGameFrameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="T" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameFrameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGameFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="T" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGameFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveGameFrameResult" nillable="true" type="q2:GameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="edited" nillable="true" type="q3:GameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameFrameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGameFrames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGameFramesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveAllGameFramesResult" nillable="true" type="q4:ArrayOfGameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameByNumPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameByNumPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="GameByNumPlayerResult" nillable="true" type="q5:ArrayOfGameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveFreeGameFrame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveFreeGameFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveFreeGameFrameResult" nillable="true" type="q6:ArrayOfGameFrameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveMinPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveMinPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetreiveMinPlayersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveMaxPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveMaxPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetreiveMaxPlayersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="user" nillable="true" type="q7:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveUserResult" nillable="true" type="q8:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveUSerbyUN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveUSerbyUNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveUSerbyUNResult" nillable="true" type="q9:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="user" nillable="true" type="q10:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAdminResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGamePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="player" nillable="true" type="q11:GamePlayerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGamePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGamePlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGamePlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGamePlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveGamePlayersResult" nillable="true" type="q12:ArrayOfGamePlayerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreivePlayerGames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreivePlayerGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RetreivePlayerGamesResult" nillable="true" type="q13:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGamePlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGamePlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveAllGamePlayersResult" nillable="true" type="q14:ArrayOfGamePlayerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGamePlayersByPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usrname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGamePlayersByPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveAllGamePlayersByPlayerResult" nillable="true" type="q15:ArrayOfGamePlayerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="game" nillable="true" type="q16:GameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveGameResult" nillable="true" type="q17:GameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveAllGamesResult" nillable="true" type="q18:ArrayOfGameModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameNumofPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gid" type="xs:int" />
        <xs:element minOccurs="0" name="nop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameNumofPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameNumofPlayersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGFStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="gfstrategy" nillable="true" type="q19:GFStrategyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGFStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGFStrategyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGFStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gfstrategyid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveGFStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveGFStrategyResult" nillable="true" type="q20:GFStrategyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNPStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="npstrategy" nillable="true" type="q21:NPStrategyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNPStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNPStrategyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNPStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="npstrategyid" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNPStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveNPStrategyResult" nillable="true" type="q22:NPStrategyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNashPointProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="NP" nillable="true" type="q23:NashPointProfileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNashPointProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNashPointProfileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNashPointProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NPID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNashPointProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveNashPointProfileResult" nillable="true" type="q24:NashPointProfileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNPPayoff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="payoff" nillable="true" type="q25:NPPayoffModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNPPayoffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNPPayoffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNPPayoff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="payoffid" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveNPPayoffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SeniorDBServer" minOccurs="0" name="RetreiveNPPayoffResult" nillable="true" type="q26:NPPayoffModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>