SeniorMVC/Service References/NashClient/SeniorServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SeniorServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SeniorServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PF">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CP" nillable="true" type="q1:ArrayOfArrayOfstring" />
      <xs:element minOccurs="0" name="GID" type="xs:int" />
      <xs:element minOccurs="0" name="orderInGame" type="xs:int" />
      <xs:element minOccurs="0" name="preferences" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strategies" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PF" nillable="true" type="tns:PF" />
  <xs:complexType name="ArrayOfNE_Profile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NE_Profile" nillable="true" type="tns:NE_Profile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNE_Profile" nillable="true" type="tns:ArrayOfNE_Profile" />
  <xs:complexType name="NE_Profile">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="NE_Profile" nillable="true" type="tns:NE_Profile" />
  <xs:complexType name="GameFrame">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GameFrame" nillable="true" type="tns:GameFrame" />
</xs:schema>