SeniorMVC/Service References/NashClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NashServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SeniorDBServer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SeniorServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INsashServices_NPlayerWrapper_InputMessage">
    <wsdl:part name="parameters" element="tns:NPlayerWrapper" />
  </wsdl:message>
  <wsdl:message name="INsashServices_NPlayerWrapper_OutputMessage">
    <wsdl:part name="parameters" element="tns:NPlayerWrapperResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_DeleteGameFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameFrame" />
  </wsdl:message>
  <wsdl:message name="INsashServices_DeleteGameFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameFrameResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_AddGameFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGameFrame" />
  </wsdl:message>
  <wsdl:message name="INsashServices_AddGameFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGameFrameResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_DisplayFreeGameFrames_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayFreeGameFrames" />
  </wsdl:message>
  <wsdl:message name="INsashServices_DisplayFreeGameFrames_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayFreeGameFramesResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_EditGameFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGameFrame" />
  </wsdl:message>
  <wsdl:message name="INsashServices_EditGameFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGameFrameResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="INsashServices_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="INsashServices_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_ChooseGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ChooseGame" />
  </wsdl:message>
  <wsdl:message name="INsashServices_ChooseGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChooseGameResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_CheckGameStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckGameStatus" />
  </wsdl:message>
  <wsdl:message name="INsashServices_CheckGameStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckGameStatusResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="INsashServices_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_PreferencesGetter_InputMessage">
    <wsdl:part name="parameters" element="tns:PreferencesGetter" />
  </wsdl:message>
  <wsdl:message name="INsashServices_PreferencesGetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreferencesGetterResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_PreferencesGetterNplayer_InputMessage">
    <wsdl:part name="parameters" element="tns:PreferencesGetterNplayer" />
  </wsdl:message>
  <wsdl:message name="INsashServices_PreferencesGetterNplayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreferencesGetterNplayerResponse" />
  </wsdl:message>
  <wsdl:portType name="INsashServices">
    <wsdl:operation name="NPlayerWrapper">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/NPlayerWrapper" message="tns:INsashServices_NPlayerWrapper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/NPlayerWrapperResponse" message="tns:INsashServices_NPlayerWrapper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGameFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/DeleteGameFrame" message="tns:INsashServices_DeleteGameFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/DeleteGameFrameResponse" message="tns:INsashServices_DeleteGameFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGameFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/AddGameFrame" message="tns:INsashServices_AddGameFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/AddGameFrameResponse" message="tns:INsashServices_AddGameFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayFreeGameFrames">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/DisplayFreeGameFrames" message="tns:INsashServices_DisplayFreeGameFrames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/DisplayFreeGameFramesResponse" message="tns:INsashServices_DisplayFreeGameFrames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditGameFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/EditGameFrame" message="tns:INsashServices_EditGameFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/EditGameFrameResponse" message="tns:INsashServices_EditGameFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/SignIn" message="tns:INsashServices_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/SignInResponse" message="tns:INsashServices_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/Register" message="tns:INsashServices_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/RegisterResponse" message="tns:INsashServices_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChooseGame">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/ChooseGame" message="tns:INsashServices_ChooseGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/ChooseGameResponse" message="tns:INsashServices_ChooseGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckGameStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/CheckGameStatus" message="tns:INsashServices_CheckGameStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/CheckGameStatusResponse" message="tns:INsashServices_CheckGameStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/JoinGame" message="tns:INsashServices_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/JoinGameResponse" message="tns:INsashServices_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreferencesGetter">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/PreferencesGetter" message="tns:INsashServices_PreferencesGetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/PreferencesGetterResponse" message="tns:INsashServices_PreferencesGetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreferencesGetterNplayer">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/PreferencesGetterNplayer" message="tns:INsashServices_PreferencesGetterNplayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/PreferencesGetterNplayerResponse" message="tns:INsashServices_PreferencesGetterNplayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INsashServices" type="tns:INsashServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NPlayerWrapper">
      <soap:operation soapAction="http://tempuri.org/INsashServices/NPlayerWrapper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGameFrame">
      <soap:operation soapAction="http://tempuri.org/INsashServices/DeleteGameFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGameFrame">
      <soap:operation soapAction="http://tempuri.org/INsashServices/AddGameFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayFreeGameFrames">
      <soap:operation soapAction="http://tempuri.org/INsashServices/DisplayFreeGameFrames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGameFrame">
      <soap:operation soapAction="http://tempuri.org/INsashServices/EditGameFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/INsashServices/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/INsashServices/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChooseGame">
      <soap:operation soapAction="http://tempuri.org/INsashServices/ChooseGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckGameStatus">
      <soap:operation soapAction="http://tempuri.org/INsashServices/CheckGameStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap:operation soapAction="http://tempuri.org/INsashServices/JoinGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreferencesGetter">
      <soap:operation soapAction="http://tempuri.org/INsashServices/PreferencesGetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreferencesGetterNplayer">
      <soap:operation soapAction="http://tempuri.org/INsashServices/PreferencesGetterNplayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NashServices">
    <wsdl:port name="BasicHttpBinding_INsashServices" binding="tns:BasicHttpBinding_INsashServices">
      <soap:address location="http://localhost:8090/SeniorServer.NashServices.svc/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>