SeniorMVC/Service References/NashClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NashServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SeniorDBServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INsashServices_NPlayerWrapper_InputMessage">
    <wsdl:part name="parameters" element="tns:NPlayerWrapper" />
  </wsdl:message>
  <wsdl:message name="INsashServices_NPlayerWrapper_OutputMessage">
    <wsdl:part name="parameters" element="tns:NPlayerWrapperResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_Two_PlayerWrapper_InputMessage">
    <wsdl:part name="parameters" element="tns:Two_PlayerWrapper" />
  </wsdl:message>
  <wsdl:message name="INsashServices_Two_PlayerWrapper_OutputMessage">
    <wsdl:part name="parameters" element="tns:Two_PlayerWrapperResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_Three_PlayerWrapper_InputMessage">
    <wsdl:part name="parameters" element="tns:Three_PlayerWrapper" />
  </wsdl:message>
  <wsdl:message name="INsashServices_Three_PlayerWrapper_OutputMessage">
    <wsdl:part name="parameters" element="tns:Three_PlayerWrapperResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="INsashServices_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="INsashServices_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="INsashServices_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="INsashServices">
    <wsdl:operation name="NPlayerWrapper">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/NPlayerWrapper" message="tns:INsashServices_NPlayerWrapper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/NPlayerWrapperResponse" message="tns:INsashServices_NPlayerWrapper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Two_PlayerWrapper">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/Two_PlayerWrapper" message="tns:INsashServices_Two_PlayerWrapper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/Two_PlayerWrapperResponse" message="tns:INsashServices_Two_PlayerWrapper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Three_PlayerWrapper">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/Three_PlayerWrapper" message="tns:INsashServices_Three_PlayerWrapper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/Three_PlayerWrapperResponse" message="tns:INsashServices_Three_PlayerWrapper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/SignIn" message="tns:INsashServices_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/SignInResponse" message="tns:INsashServices_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/INsashServices/Register" message="tns:INsashServices_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INsashServices/RegisterResponse" message="tns:INsashServices_Register_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INsashServices" type="tns:INsashServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NPlayerWrapper">
      <soap:operation soapAction="http://tempuri.org/INsashServices/NPlayerWrapper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Two_PlayerWrapper">
      <soap:operation soapAction="http://tempuri.org/INsashServices/Two_PlayerWrapper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Three_PlayerWrapper">
      <soap:operation soapAction="http://tempuri.org/INsashServices/Three_PlayerWrapper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/INsashServices/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/INsashServices/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NashServices">
    <wsdl:port name="BasicHttpBinding_INsashServices" binding="tns:BasicHttpBinding_INsashServices">
      <soap:address location="http://localhost:8999/SeniorServer.NashServices.svc/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>